@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e0e0e0; /* Warna dasar yang PENTING untuk Neumorphism */
}

/* Menghilangkan panah di input number untuk tampilan yang lebih bersih */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}